<!DOCTYPE html>
<head>
    <%- include("./partials/header.ejs") %>
    <%- include("./css/category.ejs") %>
</head>
<html>
    <body>
        <%- include("./partials/navBar.ejs", {here: "categories"}) %>
        <div class="category page">
            <p class="category__title">Categories</p>
            <div class="category__items">
                <% for (let i = 0; i < categories.length; i++) { %>
                    <div class="category__item" onclick="window.open<%= `("/category/${categories[i].name}", "_self")` %>">
                        <%= categories[i].name %><span><%= categories[i].posts.length %></span>
                    </div>
                <% } %>
            </div>
        </div>
    </body
</html>

