<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/header.ejs") %>
        <%- include("./css/eachPostStyle.ejs") %>
    </head>
    <body>
        <%- include("./partials/navBar.ejs", {here: ""}) %>
        <div class="blog page">
            <p class="blog__title"><%= title %></p>
            <p class="blog__info"><%= author %>, <%= new Date(date).toLocaleDateString("vi-vn", { year: "numeric", month: "short", day: "numeric"}) %></p>
            <div class="blog__content"><%- content %></div>
            <div class="blog__categories">
                <% categories.forEach(( category ) => { %>
                    <div class="category" onclick="window.open<%= `("/category/${category}", "_self")` %>"><%= category %></div>
                <% }) %>
            </div>
        </div>
    </body>
</html>

