<!DOCTYPE html>
<html>
    <head>
        <%- include("./partials/header.ejs") %>
        <%- include("./css/eachPostStyle.ejs") %>
    </head>
    <body>
        <%- include("./partials/navbar.ejs") %>
        <div class="blog">
            <p class="blog__title"><%= title %></p>
            <p class="blog__author">Author: <%= author %></p>
            <div class="blog__content"><%- content %></div>
        </div>
    </body>
</html>

